body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1, 166;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.logo:hover,
.logo:focus {
  color: #4d5ae5;
}

.logo-black {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21, 166;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo-black:hover,
.logo-black:focus {
  color: #4d5ae5;
}

.logo-white {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1, 166;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.logo-white:hover,
.logo-white:focus {
  color: #4d5ae5;
}

.navbar-list {
  list-style-type: none;
}

.navbar {
  font-weight: 500;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.navbar:hover,
.navbar:focus {
  color: #4d5ae5;
}

.my-info-list {
  list-style-type: none;
}

.my-info {
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  text-decoration: none;
}

.my-info:hover,
.my-info:focus {
  color: #4d5ae5;
}

.table {
  background-color: #2e2f42;
}

.table-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1, 071;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.table-button {
  background-color: #2e2f42;
  font-weight: 500;
  line-height: 1, 5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.table-button:hover,
.table-button:focus {
  color: #4d5ae5;
  background-color: #ffffff;
}

.advantages-list {
  list-style-type: none;
}

.advantages {
  font-weight: 500;
  font-size: 20px;
  line-height: 1, 2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-text {
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color: #434455;
}

.table-team {
  background: #f4f4fd;
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-list {
  list-style-type: none;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1, 2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-position {
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-list {
  list-style-type: none;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1, 2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color: #434455;
}

footer {
  background-color: #2e2f42;
}

.last-text {
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
